* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
  font-family: "Roboto Slab", serif;
}

/* SECTIONs */
section{
  display: flex;
  justify-content: center;
}


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  align-items: center;
}

.brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.navbar-links ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar-link{
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.navbar-link:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}




/* GREETING SECTION */
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #313552;
  border-radius: 0.5rem;
  width: 1440px;
  padding: 8px;
  margin: 18px;
}

.main-container .greetings-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .greeting {
  padding-right: 30px;
}

.main-container .image-container {
  max-width: 12rem;
}

.main-container img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.main-container h1 {
  font-size: 3rem;
}




/* ABOUT SECTION */
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #313552;
  border-radius: 0.5rem;
  width: 1440px;
  padding: 8px;
  margin: 18px;
}

.about-image-container{
  padding-right: 12px;
}

/* image fluid */
.about-image-container img {
  max-width: 100%;
  height: auto;
}

.about-text-container{
  color: white;
}




/* PROJECTS SECTION */
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #313552;
  border-radius: 0.5rem;
  width: 1440px;
  padding: 8px;
  margin: 18px;
}

.projects-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  height: 18rem;
  border-bottom: 8px solid #f5ba09;
  padding: 8px;
  margin: 12px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




/* SOCIAL MEDIA SECTION */
.contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #313552;
  border-radius: 0.5rem;
  width: 1440px;
  padding: 8px;
  margin: 18px;
}

.actions{
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.btn{
  width: auto;
}

.btn a{
  color: white;
  text-decoration: none;
}

.media_link {
  max-width: 10rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}


@media only screen and (max-width: 600px) {
  .brand{
    display: none;
  }

  .navbar {
    justify-content: center;
  }

  .actions{
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .actions .btn{
    margin-top: 10px;
    width: 100%;
  }
}